{% extends "base.html" %}

{% block head %}
    <title>Add product</title>
    <link
	    rel="stylesheet"
	    type="text/css"
	    href="../static/styles/file.css">
{% endblock %}

{% block header %}
    <h1 align="center">Append product</h1>
{% endblock %}

{% block nav %}
    <a href="{% url 'profile' request.user.pk %}"><button> Back </button></a>
{% endblock %}

{% block content %}
    <div align="center">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Append</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}