{% extends "base.html" %}

{% block head %}
    <title>Home Page</title>
    <link
	    rel="stylesheet"
	    type="text/css"
	    href="../static/styles/file.css">
{% endblock %}

{% block header %}
	<h1>HOME PAGE</h1>
{% endblock %}

{% block nav %}
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}"><button> LogIn </button></a>
        / <a href="{% url 'register' %}"><button> Register </button></a>
    {% else %}
        <a href="{% url 'profile' request.user.pk %}"><button> {{ request.user }} </button></a>
        <a href="{% url 'logout' %}"><button> LogOut </button></a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for product in object_list %}
        <hr>
        <div>
            <img src="/static/photo/headphones.jpg" alt="image"><br>
            <a href="{% url 'about' product.pk %}"> {{ product.name }} </a> <br>
            price: {{ product.price }}$<br>
            {% if product.count > 0 %}
                count: {{ product.count }}
            {% else %}
                <span style="background-color: yellow">not available</span>
            {% endif %}
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
     </div>
{% endblock %}

{% block footer %}
{% endblock %}