{% extends "base.html" %}

{% block head %}
    <title>Product</title>
    <link
	    rel="stylesheet"
	    type="text/css"
	    href="../static/styles/file.css">
{% endblock %}

{% block header %}
    <h1 align="center">About</h1>

{% endblock %}

{% block nav %}
    <a href="{% url "home" %}"><button> Back </button></a>
{% endblock %}

{% block content %}
    <div align="center">
        {{ object.name }}<br>
        <img src="{{ object.image }}" alt="image"><br>
        about: {{ object.about }}<br>
        price: {{ object.price }}$<br>
        {% if product.count > 0 %}
            count: {{ product.count }}
        {% else %}
            <span style="background-color: yellow">not available</span>
        {% endif %}
        {% if request.user.is_superuser %}
            <a href="{% url "change_product" object.pk %}"><button> Change </button></a>
        {% elif request.user.is_authenticated %}
                {% csrf_token %}
                {% if object.count > 0 %}
                    <form method="post" action="{% url "buy_product" object.pk %}">
                        {{ form }}
                        <button type="submit" value="Buy">Buy</button>
                    </form>
                {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block footer %}
{% endblock %}