{% extends "base.html" %}

{% block head %}
    <title>Profile</title>
    <link
	    rel="stylesheet"
	    type="text/css"
	    href="../static/styles/file.css">
{% endblock %}

{% block header %}
        <h1 align="center">Profile</h1>
{% endblock %}

{% block nav %}
    <a href="{% url "home" %}"><button> Home page </button></a>
    {% if request.user.is_superuser %}
        <a href="{% url "append" %}"><button> Append product </button></a>
        <a href="/admin/"><button> AdminDjango </button></a>
    {% else %}
        <a href="{% url "purchases_list" %}"><button> Purchases list </button></a>
    {% endif %}
    <a href="{% url 'logout' %}"><button> LogOut </button></a><br>
{% endblock %}

{% block content %}
    you login as {{ request.user }}
        {% if not request.user.is_speruser %}<br>
            purse: {{ request.user.purse }}
        {% endif %}
{% endblock %}

{% block footer %}
{% endblock %}