{% extends "base.html" %}

{% block head %}
    <title>Purchases</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/file.css' %}">
{% endblock %}

{% block header %}
    <h1> Purchases </h1>
{% endblock %}

{% block nav %}
    <a href="{% url "home" %}"><button> Home page </button></a>
    <a href="{% url "profile" request.user.id %}"><button> {{ request.user }} </button></a>
{% endblock %}

{% block content %}
    {% for purchase in object_list %}
        {% if purchase.user == request.user %}
            <hr>
            {% if purchase.status and not purchase.return_status %}
                <div style="background-color: yellow">
            {% elif purchase.status and purchase.return_status %}
                <div style="background-color: darkred">
            {% endif %} >
                    {{ purchase }}
                    count: {{ purchase.count }} <br>
                    {{ purchase.date }}<br>
                    {% if not purchase.status and not purchase.return_status %}
                        <form method="post" action="{% url "return" purchase.pk %}">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit" value="return">return</button>
                        </form><br>
                    {% elif purchase.return_status %}
                        return not accept
                    {% else %}
                        return is already send
                    {% endif %}
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                {% if message.tags == "info" and purchase.return_status %}
                                    <li style= "color:yellow;">
                                        {{ message }}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                </div>
        {% endif %}

    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
     </div>
{% endblock %}

{% block footer %}
{% endblock %}