{% extends "base.html" %}

{% block head %}
    <title>Register</title>
    <link
	    rel="stylesheet"
	    type="text/css"
	    href="../static/styles/file.css">
{% endblock %}

{% block header %}
	<h1>Register</h1>
{% endblock %}

{% block nav %}
	<a href="{% url 'home' %}"><button> Back </button></a>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">register</button>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
