{% extends "base.html" %}

{% block head %}
    <title>Returns</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/file.css' %}">
{% endblock %}

{% block header %}
    <h1>Returns</h1>
{% endblock %}

{% block nav %}
    <a href="{% url "home" %}"><button> Home page </button></a>
    <a href="{% url "profile" request.user.id %}"><button> {{ request.user }} </button></a>
{% endblock %}

{% block content %}
    {% for return_obj in object_list %}
        <hr>
        <div>
            {{ return_obj }} from {{ return_obj.purchase.user }}<br>
            {{ return_obj.date }}
            <div class="admin_buttons">
                <form method="post" action="{% url "accept" return_obj.purchase.pk %}">
                    {% csrf_token %}
                    <button type="submit" value="accept"> Accept </button>
                </form>
                <form method="post" action="{% url "reject" return_obj.pk %}">
                    {% csrf_token %}
                    <button type="submit" value="reject"> Reject </button>
                </form>
            </div>
        </div>
    {% endfor %}
     <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
     </div>
{% endblock %}

{% block footer %}
{% endblock %}