header{
    padding: 50px;
    text-align: center;
	background-color: #d3b714;
	height: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-content: end;
}
article div{
    display: flex;
    justify-content: center;

}
div{
    background-color: aqua;
}
